<div class='list-group' id="mollie-payment-methods-list">
  <% @mollie_payment_methods.each do |method| %>
      <label class='list-group-item' style="display: block;">

        <%= radio_button_tag  "order[payments_attributes][][mollie_method_id]", method['id'], false %>
        <%= method['description'] %>
      </label>
  <% end %>
</div>
